@media (max-width:768px)  {
    .dropdown{
        
        span{
            font-size: .6rem;
        }
        
        .dropdown-content a {
            font-size: .6rem;
            margin-top: .8rem;
        }
    }
}

@media (max-width:992px) {
    .container-dropdown{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .dropdown{
        height: 20vmax;
        width: 40vw;
        
        @media (min-width:768px) {
            span{
                font-size: 1rem;
            }
            
            .dropdown-content a {
                font-size: 1rem;
                margin-top: .8rem;
            }
        }
    }
}

@media (max-width:1200px) and (min-width:992px) {
    .dropdown{
        span{
            font-size: .8rem;
        }
    }
}